body {
  margin: 0;
  /* overflow: hidden; */
}
#gif-container {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/img/Template.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
  
  
}
