body {
    margin: 0;
    overflow: hidden;
}

#gif-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/Template.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#invisible-link {
    position: absolute;
    width: 20%;  
    height: 18%;  
    top: 41%;  
    left: 40%; 
    opacity: 0;  
    z-index: 1; 
}

#invisible-link::after {
    content: "";  
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;  
}
